<% @matches.each { |m| %>
	<div class='container-fluid match-details' id=<%=m.id%> style='display:none'>
		<div class='container-fluid match-overview'>
			<h2><span class="blue-score"><%= m.rosters[0].score %></span> - <span class="red-score"><%= m.rosters[1].score %></span></h2>
			<%= convertSecondsToMinutes(m.duration) %>
		</div>

		<!-- Blue Team -->
		<div class='container col-md-6 roster-wrapper' id='blue-team-wrapper'>
			<% m.rosters[0].participants.each { |p| %>
				<div class='container-fluid participant-wrapper' style="padding:5px">
					<div class='container col-md-2 skill-tier-wrapper'>
						<%= image_tag("skill_tiers/#{p.player.skillTier}.png", :class => 'skill-tier-img', :id => 'p.player.skillTier') %>
					</div>

					<div class='container col-md-2 hero-profile-wrapper'>
						<%= image_tag("heroes/#{p.hero.downcase}.png", :class => "hero-profile-img", :id => p.hero) %>
						<p style='text-align:center; margin:0px'><strong><%= "#{p.kills}/#{p.deaths}/#{p.assists}" %></strong></p>
					</div>

					<div class='container col-md-8 participant-stats'>
						<h5 class='container col-md-12'><%= p.player.ign %></h5>
						<% p.items.each { |i| %>
							<div class='container col-md-2 item-img-wrapper'>
								<%= image_tag("items/#{i.name.downcase.gsub(' ', '-')}.png", :class => "item-img", "data-toggle" => "tooltip", "data-placement" => "top", "title" => i.name) %>
							</div>
						<% } %>
					</div>
				</div>
			<% } %>
		</div>

		<!-- Red Team -->
		<div class='container col-md-6 roster-wrapper' id='red-team-wrapper'>
			<% m.rosters[1].participants.each { |p| %>
				<div class='container-fluid participant-wrapper' style="padding:5px">
					<div class='container col-md-8 participant-stats'>
						<h5 class='container col-md-12'><%= p.player.ign %></h5>
						<% p.items.each { |i| %>
							<div class='container col-md-2 item-img-wrapper'>
								<%= image_tag("items/#{i.name.downcase.gsub(' ', '-')}.png", :class => "item-img", "data-toggle" => "tooltip", "data-placement" => "top", "title" => i.name) %>
							</div>
						<% } %>
					</div>

					<div class='container col-md-2 hero-profile-wrapper'>
						<%= image_tag("heroes/#{p.hero.downcase}.png", :class => "hero-profile-img", :id => p.hero) %>
						<p style='text-align:center; margin:0px'><strong><%= "#{p.kills}/#{p.deaths}/#{p.assists}" %></strong></p>
					</div>

					<div class='container col-md-2 skill-tier-wrapper'>
						<%= image_tag("skill_tiers/#{p.player.skillTier}.png", :class => 'skill-tier-img', :id => 'p.player.skillTier') %>
					</div>
				</div>
			<% } %>
		</div>

		<div class='container-fluid team-stats'>
			<h4>Head to Head Matchup</h4>
			<canvas class='head-to-head container-fluid' id=<%=m.id%>></canvas>
		</div>
	</div>
<% } %>
