<%= render "shared/navigation" %>

<!-- Javascript variables -->
<%= javascript_tag do %>
	window.wins = <%= @player.wins %>;
	window.losses = <%= @player.played - @player.wins %>;
	window.sideRecord = <%= raw @stats[:sideRecord].to_json %>;
	window.heroesPlayed = <%= raw @stats[:heroesPlayed].to_json %>;
	window.matchRosters = <%= raw Roster.joins(match: :players).where('players.id = ?', @player.id).to_json %>;
<% end %>

<ul class="nav nav-tabs nav-justified" role="tablist">
	<li id="player-tab" class="active">
		<a href="#player" data-toggle="tab" role="tab">Player Stats</a>
	</li>
	<li id="match-tab">
		<a href="#match" data-toggle="tab" role="tab">Match History</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="player" role="tabpanel">
		<%= render "player_details" %>
	</div>
	<div class="tab-pane fade" id="match" role="tabpanel">
		<div class = "container col-md-4">
			<%= render "match_preview" %>
		</div>
		<div class="container col-md-8">
			<%= render "match_details" %>
		</div>
	</div>
</div>
