<%= button_to 'Home Page', { :action => 'index', :controller => 'home' }, {:method => :get, :class => 'btn btn-default'} %>

<div class = 'container col-md-4' id = 'left-col'>
	<div class = 'container-fluid' id = 'player-notes'>
		<h2 class = 'section-header'>
			<%= @player.ign %>	
		</h2>
		<%= image_tag("skill_tiers/#{@player.skillTier.downcase.gsub(' ', '-')}.png", :size => 150, :id => 'skill-tier-img') %>
		<%= "Level #{@player.level}" %><br>
		<%= @player.skillTier %><br>
		<%= @player.karmaLevel %><br>
	</div>
</div>
<div class = 'container col-md-4' id = 'mid-col'>
	<%= render "player_details" %>
</div>
<div class = 'container col-md-4' id = 'right-col'>
	<%= render "match_details" %>
</div>
